/* line 2, sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* line 8, sass/foundation/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 14, sass/foundation/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* line 20, sass/foundation/_base.scss */
body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  color: #262626;
}

/* line 32, sass/foundation/_base.scss */
a {
  text-decoration: none;
  color: currentColor;
}

/* line 38, sass/foundation/_base.scss */
.container {
  max-width: 117rem;
  margin: 0 auto;
  padding-right: 8rem;
  padding-left: 8rem;
  display: flex;
}

@media (max-width: 43.75em) {
  /* line 38, sass/foundation/_base.scss */
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 31.25em) {
  /* line 38, sass/foundation/_base.scss */
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* line 2, sass/components/_burger.scss */
.burger {
  display: none;
  transform: translate(1rem, -15%);
  position: relative;
  padding: 1rem;
  box-sizing: content-box;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: all .2s .05s;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 56.25em) {
  /* line 2, sass/components/_burger.scss */
  .burger {
    display: flex;
  }
}

/* line 25, sass/components/_burger.scss */
.burger:hover:not(.js-menu-on) > div:nth-child(1) {
  transform: translateY(2px);
}

/* line 28, sass/components/_burger.scss */
.burger:hover:not(.js-menu-on) > div:nth-child(3) {
  transform: translateY(-2px);
}

/* line 34, sass/components/_burger.scss */
.burger:hover.js-menu-on {
  transform: scale(1.2);
}

/* line 40, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(1) {
  transform: translateY(9.6px) rotate(135deg);
}

/* line 43, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(2) {
  transform: scale(0);
}

/* line 46, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(3) {
  transform: translateY(-9.6px) rotate(-135deg);
}

/* line 52, sass/components/_burger.scss */
.burger > div {
  color: #262626;
  line-height: .3;
  font-size: 3.7rem;
  font-weight: 400;
}

/* line 66, sass/components/_burger.scss */
.burger > div:nth-child(1),
.burger > div:nth-child(3) {
  transition: all .1s .03s ease-in-out;
}

/* line 71, sass/components/_burger.scss */
.burger > div:nth-child(2) {
  transition: all .04s .05s;
}

/* line 2, sass/components/_header.scss */
.header {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 11, sass/components/_header.scss */
.header__brand {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #262626;
}

@media (max-width: 81.25em) {
  /* line 11, sass/components/_header.scss */
  .header__brand {
    font-size: 4.4rem;
  }
}

/* line 23, sass/components/_header.scss */
.header__checkbox {
  display: none;
}

/* line 26, sass/components/_header.scss */
.header__checkbox:checked ~ .header__navbar {
  display: flex;
}

/* line 31, sass/components/_header.scss */
.header__navbar {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: .5rem;
}

@media (max-width: 56.25em) {
  /* line 31, sass/components/_header.scss */
  .header__navbar {
    display: none;
    position: absolute;
    z-index: 666;
    top: 6rem;
    right: 0;
    background-color: #f9f8fb;
    text-align: center;
    flex-direction: column;
  }
}

/* line 51, sass/components/_header.scss */
.header__link {
  padding: 0.4rem 0.3rem;
  margin: 0 1.6rem;
  text-decoration: none;
  color: #262626;
  transition: all 0.2s 0.03s;
  border-top: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
}

@media (max-width: 56.25em) {
  /* line 51, sass/components/_header.scss */
  .header__link {
    margin: 0;
    padding: .5rem 2rem;
    box-shadow: 0 0.1rem #b6b6b6;
  }
}

/* line 64, sass/components/_header.scss */
.header__link:hover {
  box-shadow: 0 .1rem transparent;
  border-top: .2rem solid #ff6033;
}

@media (max-width: 56.25em) {
  /* line 64, sass/components/_header.scss */
  .header__link:hover {
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid #ff6033;
  }
}

/* line 74, sass/components/_header.scss */
.header__link:last-child {
  margin-right: 0;
}

/* line 2, sass/components/_link-button.scss */
.link-button {
  padding: 1.2rem 3.6rem;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #f9f8fb;
  background-color: #5585a2;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* line 2, sass/components/_mouse-link.scss */
.mouse-link {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  text-align: center;
}

/* line 2, sass/sections/_about.scss */
.about {
  background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
}

/* line 6, sass/sections/_about.scss */
.about__container {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 56.25em) {
  /* line 6, sass/sections/_about.scss */
  .about__container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: column;
  }
}

@media (max-width: 43.75em) {
  /* line 6, sass/sections/_about.scss */
  .about__container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* line 24, sass/sections/_about.scss */
.about__image {
  width: 45%;
  height: 45%;
  filter: drop-shadow(-1.3794rem 0.684rem 5rem rgba(0, 0, 0, 0.3));
  margin-right: 10rem;
}

@media (max-width: 56.25em) {
  /* line 24, sass/sections/_about.scss */
  .about__image {
    width: 65%;
    height: 65%;
    margin-top: 4rem;
    margin-right: 0;
    order: 2;
  }
}

@media (max-width: 31.25em) {
  /* line 24, sass/sections/_about.scss */
  .about__image {
    width: 85%;
    height: 85%;
  }
}

@media (max-width: 22.4375em) {
  /* line 24, sass/sections/_about.scss */
  .about__image {
    width: 88%;
    height: 88%;
  }
}

/* line 47, sass/sections/_about.scss */
.about__text-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f8fb;
}

@media (max-width: 56.25em) {
  /* line 47, sass/sections/_about.scss */
  .about__text-box {
    width: 100%;
  }
}

/* line 62, sass/sections/_about.scss */
.about__heading {
  margin-bottom: 1rem;
  font-size: 8rem;
  font-weight: 700;
}

@media (max-width: 81.25em) {
  /* line 62, sass/sections/_about.scss */
  .about__heading {
    font-size: 6rem;
  }
}

@media (max-width: 31.25em) {
  /* line 62, sass/sections/_about.scss */
  .about__heading {
    font-size: 5rem;
    text-align: center;
  }
}

/* line 76, sass/sections/_about.scss */
.about__description {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 300;
}

/* line 2, sass/sections/_blog.scss */
.blog {
  background-color: #b07cf7;
}

/* line 6, sass/sections/_blog.scss */
.blog .container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* line 16, sass/sections/_blog.scss */
.blog__heading {
  margin-bottom: 2.4rem;
  font-size: 8rem;
  font-weight: 700;
}

/* line 23, sass/sections/_blog.scss */
.blog__description {
  width: 52%;
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 43.75em) {
  /* line 23, sass/sections/_blog.scss */
  .blog__description {
    width: 80%;
  }
}

@media (max-width: 31.25em) {
  /* line 23, sass/sections/_blog.scss */
  .blog__description {
    width: 100%;
  }
}

/* line 38, sass/sections/_blog.scss */
.blog__all-photos-box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 68.75em) {
  /* line 38, sass/sections/_blog.scss */
  .blog__all-photos-box {
    flex-direction: column;
  }
}

/* line 47, sass/sections/_blog.scss */
.blog__photo-box {
  position: relative;
  flex: 0 0 31%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 68.75em) {
  /* line 52, sass/sections/_blog.scss */
  .blog__photo-box:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/* line 59, sass/sections/_blog.scss */
.blog__photo {
  width: 100%;
}

/* line 64, sass/sections/_blog.scss */
.blog__details {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to top, black, transparent 47%);
}

/* line 83, sass/sections/_blog.scss */
.blog__date {
  margin-bottom: auto;
  padding: 0.4rem .7rem;
  text-align: center;
  line-height: 1;
  border-radius: 10%;
  background-color: rgba(38, 38, 38, 0.6);
}

/* line 91, sass/sections/_blog.scss */
.blog__date--day {
  font-size: 3.2rem;
  font-weight: 700;
}

@media (max-width: 22.4375em) {
  /* line 91, sass/sections/_blog.scss */
  .blog__date--day {
    font-size: 2.8rem;
  }
}

/* line 99, sass/sections/_blog.scss */
.blog__date--month {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 400;
}

@media (max-width: 22.4375em) {
  /* line 99, sass/sections/_blog.scss */
  .blog__date--month {
    font-size: 1.9rem;
  }
}

/* line 110, sass/sections/_blog.scss */
.blog__title {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: .3s .03s;
}

@media (max-width: 22.4375em) {
  /* line 110, sass/sections/_blog.scss */
  .blog__title {
    font-size: 1.7rem;
  }
}

/* line 118, sass/sections/_blog.scss */
.blog__title:hover {
  transform: skewX(-10deg);
}

/* line 124, sass/sections/_blog.scss */
.blog__author {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 22.4375em) {
  /* line 124, sass/sections/_blog.scss */
  .blog__author {
    font-size: 1.4rem;
  }
}

/* line 132, sass/sections/_blog.scss */
.blog__author--nickname {
  cursor: pointer;
  transition: .3s .03s;
}

/* line 135, sass/sections/_blog.scss */
.blog__author--nickname:hover {
  color: #f72b3b;
  letter-spacing: .03rem;
}

/* line 144, sass/sections/_blog.scss */
.blog__link-button {
  background-color: #f72b3b;
}

/* line 2, sass/sections/_fresh-life.scss */
.fresh-life {
  background-color: #f9f8fb;
}

/* line 8, sass/sections/_fresh-life.scss */
.fresh-life__container {
  position: relative;
  background: url(/img/092.jpg) right center no-repeat/cover;
  height: 100vh;
  padding-top: 1.5rem;
  padding-bottom: 5.5rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media (max-width: 56.25em) {
  /* line 8, sass/sections/_fresh-life.scss */
  .fresh-life__container {
    background: url("/img/092-cropped.jpg") top center no-repeat/cover;
  }
}

/* line 22, sass/sections/_fresh-life.scss */
.fresh-life__text-and-link-box {
  width: 34%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 56.25em) {
  /* line 22, sass/sections/_fresh-life.scss */
  .fresh-life__text-and-link-box {
    width: 100%;
    align-self: center;
    transform: translateY(-6rem);
  }
}

@media (max-width: 31.25em) {
  /* line 22, sass/sections/_fresh-life.scss */
  .fresh-life__text-and-link-box {
    align-items: center;
    text-align: center;
  }
}

/* line 41, sass/sections/_fresh-life.scss */
.fresh-life__heading {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

@media (max-width: 81.25em) {
  /* line 41, sass/sections/_fresh-life.scss */
  .fresh-life__heading {
    font-size: 4.6rem;
  }
}

@media (max-width: 31.25em) {
  /* line 41, sass/sections/_fresh-life.scss */
  .fresh-life__heading {
    margin-bottom: 3rem;
  }
}

/* line 54, sass/sections/_fresh-life.scss */
.fresh-life__description {
  margin-bottom: 3.7rem;
  font-size: 1.7rem;
  font-weight: 300;
}

@media (max-width: 31.25em) {
  /* line 54, sass/sections/_fresh-life.scss */
  .fresh-life__description {
    margin-bottom: 4.7rem;
  }
}

/* line 67, sass/sections/_fresh-life.scss */
.fresh-life__link {
  display: inline-block;
  padding: 1.5rem 2.2rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff6033;
  color: white;
  line-height: 2.7rem;
  box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 56.25em) {
  /* line 67, sass/sections/_fresh-life.scss */
  .fresh-life__link {
    align-self: flex-end;
  }
}

@media (max-width: 31.25em) {
  /* line 67, sass/sections/_fresh-life.scss */
  .fresh-life__link {
    align-self: auto;
  }
}

/* line 2, sass/sections/_gallery.scss */
.gallery {
  background-color: #ffe92f;
}

/* line 6, sass/sections/_gallery.scss */
.gallery__container {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 15, sass/sections/_gallery.scss */
.gallery__intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* line 23, sass/sections/_gallery.scss */
.gallery__heading {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (max-width: 31.25em) {
  /* line 23, sass/sections/_gallery.scss */
  .gallery__heading {
    font-size: 6.5rem;
  }
}

/* line 33, sass/sections/_gallery.scss */
.gallery__description {
  width: 50%;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

@media (max-width: 56.25em) {
  /* line 33, sass/sections/_gallery.scss */
  .gallery__description {
    width: 70%;
  }
}

@media (max-width: 37.5em) {
  /* line 33, sass/sections/_gallery.scss */
  .gallery__description {
    width: 85%;
  }
}

@media (max-width: 25em) {
  /* line 33, sass/sections/_gallery.scss */
  .gallery__description {
    width: 95%;
  }
}

/* line 52, sass/sections/_gallery.scss */
.gallery__all-photos-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 75em) {
  /* line 52, sass/sections/_gallery.scss */
  .gallery__all-photos-box {
    width: 66rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 50em) {
  /* line 52, sass/sections/_gallery.scss */
  .gallery__all-photos-box {
    width: 94%;
  }
}

/* line 67, sass/sections/_gallery.scss */
.gallery__photos-box {
  width: 32rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 75em) {
  /* line 67, sass/sections/_gallery.scss */
  .gallery__photos-box {
    flex-direction: row;
    width: 91%;
  }
}

@media (max-width: 75em) {
  /* line 67, sass/sections/_gallery.scss */
  .gallery__photos-box {
    transform: translateX(-0.4rem);
  }
}

@media (max-width: 31.25em) {
  /* line 67, sass/sections/_gallery.scss */
  .gallery__photos-box {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
}

/* line 88, sass/sections/_gallery.scss */
.gallery__photo-wrapper {
  box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* line 91, sass/sections/_gallery.scss */
.gallery__photo-wrapper--1 {
  width: 66rem;
  margin-bottom: 3rem;
}

@media (max-width: 75em) {
  /* line 96, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--2 {
    margin-right: 3rem;
  }
}

@media (max-width: 75em) {
  /* line 101, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--3 {
    align-self: flex-start;
  }
}

/* line 106, sass/sections/_gallery.scss */
.gallery__photo-wrapper--4 {
  width: 48.5%;
}

@media (max-width: 75em) {
  /* line 106, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--4 {
    margin-right: auto;
    flex: 0 0 47.5%;
  }
}

/* line 113, sass/sections/_gallery.scss */
.gallery__photo-wrapper--5 {
  width: 48.5%;
}

@media (max-width: 75em) {
  /* line 113, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--5 {
    flex: 0 0 47.5%;
  }
}

@media (max-width: 31.25em) {
  /* line 88, sass/sections/_gallery.scss */
  .gallery__photo-wrapper {
    flex: 0 0 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}

/* line 130, sass/sections/_gallery.scss */
.gallery__photo {
  width: 100%;
  display: block;
  height: 100%;
}

/* line 2, sass/sections/_services.scss */
.services {
  background-color: #70bfff;
}

/* line 6, sass/sections/_services.scss */
.services__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 62.5em) {
  /* line 6, sass/sections/_services.scss */
  .services__container {
    flex-direction: column;
  }
}

/* line 18, sass/sections/_services.scss */
.services__options {
  margin-right: 10%;
  flex: 0 0 44%;
}

@media (max-width: 62.5em) {
  /* line 18, sass/sections/_services.scss */
  .services__options {
    order: 1;
    margin: 0;
  }
}

/* line 28, sass/sections/_services.scss */
.services__box {
  height: 9rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all .2s .02s ease-in;
}

/* line 38, sass/sections/_services.scss */
.services__box:hover {
  background-color: #009af4;
  filter: invert(100%);
}

/* line 45, sass/sections/_services.scss */
.services__option {
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  flex: 1;
}

/* line 54, sass/sections/_services.scss */
.services__icon-wrapper {
  align-self: stretch;
  border-left: 2px solid gray;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 67, sass/sections/_services.scss */
.services__image-box {
  position: relative;
}

@media (max-width: 62.5em) {
  /* line 67, sass/sections/_services.scss */
  .services__image-box {
    margin: 18rem 0;
  }
}

@media (max-width: 31.25em) {
  /* line 67, sass/sections/_services.scss */
  .services__image-box {
    margin: 12rem 0 14rem;
  }
}

@media (max-width: 22.5em) {
  /* line 67, sass/sections/_services.scss */
  .services__image-box {
    margin: 6rem 0 9rem;
  }
}

/* line 81, sass/sections/_services.scss */
.services__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: block;
  width: 39rem;
}

@media (max-width: 62.5em) {
  /* line 81, sass/sections/_services.scss */
  .services__image {
    width: 35rem;
  }
}

@media (max-width: 31.25em) {
  /* line 81, sass/sections/_services.scss */
  .services__image {
    width: 32rem;
  }
}

@media (max-width: 22.5em) {
  /* line 81, sass/sections/_services.scss */
  .services__image {
    width: 26rem;
  }
}

/* line 100, sass/sections/_services.scss */
.services__heading {
  position: relative;
  z-index: 1;
  transform: translateY(-50%);
  font-size: 7rem;
  color: #f9f8fb;
  text-align: center;
}

@media (max-width: 37.5em) {
  /* line 100, sass/sections/_services.scss */
  .services__heading {
    font-size: 6rem;
  }
}

/* line 5, sass/sections/_subscribe.scss */
.subscribe__container {
  padding: 8rem;
  background: url(/img/046.jpg) right center no-repeat/contain;
}

@media (max-width: 50em) {
  /* line 5, sass/sections/_subscribe.scss */
  .subscribe__container {
    padding-top: 12rem;
    background: url(/img/046-cropped.jpg) right center no-repeat/contain;
    color: white;
  }
}

@media (max-width: 34.375em) {
  /* line 5, sass/sections/_subscribe.scss */
  .subscribe__container {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
  }
}

@media (max-width: 25em) {
  /* line 5, sass/sections/_subscribe.scss */
  .subscribe__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* line 25, sass/sections/_subscribe.scss */
.subscribe__form {
  width: 60%;
}

@media (max-width: 56.25em) {
  /* line 25, sass/sections/_subscribe.scss */
  .subscribe__form {
    width: 40rem;
  }
}

@media (max-width: 50em) {
  /* line 25, sass/sections/_subscribe.scss */
  .subscribe__form {
    background-color: rgba(0, 0, 255, 0.5);
    margin: 0 auto;
    border-top-left-radius: 11%;
    border-top-right-radius: 11%;
  }
}

/* line 39, sass/sections/_subscribe.scss */
.subscribe__heading {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 700;
}

@media (max-width: 50em) {
  /* line 39, sass/sections/_subscribe.scss */
  .subscribe__heading {
    margin-bottom: 2rem;
    padding: 2rem 2rem 0;
    text-align: center;
  }
}

@media (max-width: 34.375em) {
  /* line 39, sass/sections/_subscribe.scss */
  .subscribe__heading {
    font-size: 3rem;
  }
}

@media (max-width: 22.4375em) {
  /* line 39, sass/sections/_subscribe.scss */
  .subscribe__heading {
    font-size: 2.8rem;
  }
}

/* line 57, sass/sections/_subscribe.scss */
.subscribe__description {
  margin-bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 300;
}

@media (max-width: 50em) {
  /* line 57, sass/sections/_subscribe.scss */
  .subscribe__description {
    padding: 0 2rem;
  }
}

/* line 67, sass/sections/_subscribe.scss */
.subscribe__input {
  padding-left: 2rem;
  width: 54%;
  height: 5rem;
  outline: none;
  font-size: 1.7rem;
}

@media (max-width: 56.25em) {
  /* line 67, sass/sections/_subscribe.scss */
  .subscribe__input {
    width: 100%;
  }
}

/* line 78, sass/sections/_subscribe.scss */
.subscribe ::placeholder {
  color: #81a31c;
}

/* line 83, sass/sections/_subscribe.scss */
.subscribe__button {
  margin: 0;
  color: white;
  background-color: #96b92c;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  /* line 83, sass/sections/_subscribe.scss */
  .subscribe__button {
    width: 100%;
  }
}
