/* line 2, sass/foundation/_base.scss */
::selection {
  color: #f9f8fb;
  background-color: #00b8b7;
}

/* line 8, sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* line 14, sass/foundation/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 20, sass/foundation/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* line 26, sass/foundation/_base.scss */
body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  color: #262626;
}

/* line 33, sass/foundation/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", cursive;
  font-size: 8rem;
  font-weight: 700;
}

/* line 40, sass/foundation/_base.scss */
p {
  font-size: 2.2rem;
}

/* line 45, sass/foundation/_base.scss */
a {
  text-decoration: none;
  color: currentColor;
}

/* line 51, sass/foundation/_base.scss */
input, textarea, button {
  font-family: inherit;
  outline: none;
}

/* line 57, sass/foundation/_base.scss */
section {
  position: relative;
}

/* line 62, sass/foundation/_base.scss */
.container {
  max-width: 117rem;
  margin: 0 auto;
  padding-right: 8rem;
  padding-left: 8rem;
  display: flex;
}

@media (max-width: 43.75em) {
  /* line 62, sass/foundation/_base.scss */
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 31.25em) {
  /* line 62, sass/foundation/_base.scss */
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* line 37, sass/components/_burger.scss */
.burger {
  display: none;
  transform: translate(1rem, -15%);
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: all .2s .05s;
}

@media (max-width: 56.25em) {
  /* line 37, sass/components/_burger.scss */
  .burger {
    display: block;
  }
}

/* line 27, sass/components/_burger.scss */
.burger:hover:not(.js-menu-on) > div:nth-child(1) {
  transform: translateY(0.2rem);
}

/* line 30, sass/components/_burger.scss */
.burger:hover:not(.js-menu-on) > div:nth-child(3) {
  transform: translateY(-0.2rem);
}

/* line 17, sass/components/_burger.scss */
.burger:hover.js-menu-on > div:nth-child(1) {
  transform: scale(1.2) translateY(0.9rem) rotate(135deg);
}

/* line 20, sass/components/_burger.scss */
.burger:hover.js-menu-on > div:nth-child(3) {
  transform: scale(1.2) translateY(-0.9rem) rotate(-135deg);
}

/* line 5, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(1) {
  transform: translateY(1.06rem) rotate(135deg);
}

/* line 8, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(2) {
  transform: scale(0);
}

/* line 11, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(3) {
  transform: translateY(-1.06rem) rotate(-135deg);
}

/* line 70, sass/components/_burger.scss */
.burger > div {
  color: #262626;
  line-height: .3;
  font-size: 3.7rem;
  font-weight: 400;
}

/* line 85, sass/components/_burger.scss */
.burger > div:nth-child(1),
.burger > div:nth-child(3) {
  transition: all .09s .02s ease-in-out;
}

/* line 90, sass/components/_burger.scss */
.burger > div:nth-child(2) {
  transition: all .04s .02s;
}

/* line 2, sass/components/_header.scss */
.header {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 11, sass/components/_header.scss */
.header__brand {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #262626;
}

@media (max-width: 81.25em) {
  /* line 11, sass/components/_header.scss */
  .header__brand {
    font-size: 4.4rem;
  }
}

/* line 23, sass/components/_header.scss */
.header__checkbox {
  display: none;
}

/* line 27, sass/components/_header.scss */
.header__checkbox:checked ~ .header__navbar {
  visibility: visible;
  opacity: 1;
}

/* line 5, sass/components/_burger.scss */
.header__checkbox:checked ~ .burger > div:nth-child(1) {
  transform: translateY(1.06rem) rotate(135deg);
}

/* line 8, sass/components/_burger.scss */
.header__checkbox:checked ~ .burger > div:nth-child(2) {
  transform: scale(0);
}

/* line 11, sass/components/_burger.scss */
.header__checkbox:checked ~ .burger > div:nth-child(3) {
  transform: translateY(-1.06rem) rotate(-135deg);
}

/* line 17, sass/components/_burger.scss */
.header__checkbox:checked ~ .burger:hover > div:nth-child(1) {
  transform: scale(1.2) translateY(0.9rem) rotate(135deg);
}

/* line 20, sass/components/_burger.scss */
.header__checkbox:checked ~ .burger:hover > div:nth-child(3) {
  transform: scale(1.2) translateY(-0.9rem) rotate(-135deg);
}

/* line 40, sass/components/_header.scss */
.header__navbar {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: 0.2s;
}

@media (max-width: 56.25em) {
  /* line 40, sass/components/_header.scss */
  .header__navbar {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    z-index: 666;
    top: 6rem;
    right: 0;
    background-color: #f9f8fb;
    text-align: center;
    flex-direction: column;
  }
}

/* line 66, sass/components/_header.scss */
.header__link {
  padding: 1rem 0.3rem 0.6rem;
  margin: 0 1.6rem;
  position: relative;
  text-decoration: none;
  color: #262626;
}

@media (max-width: 56.25em) {
  /* line 66, sass/components/_header.scss */
  .header__link {
    margin: 0;
    padding: 1.4rem 2rem 1rem;
    border-bottom: 0.1rem solid #b6b6b6;
  }
}

/* line 79, sass/components/_header.scss */
.header__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s 0.03s;
}

@media (max-width: 56.25em) {
  /* line 77, sass/components/_header.scss */
  .header__link:hover {
    border-bottom: 0.1rem solid transparent;
  }
}

/* line 90, sass/components/_header.scss */
.header__link:last-child {
  margin-right: 0;
}

/* line 94, sass/components/_header.scss */
.header__link::before {
  padding: inherit;
  position: absolute;
  top: -0.2rem;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  content: "\00a0";
  border-top: 0.2rem solid #ff6033;
  transition: transform 0.18s;
  transform-origin: right;
}

@media (max-width: 56.25em) {
  /* line 94, sass/components/_header.scss */
  .header__link::before {
    top: -0.1rem;
    border-top: none;
    border-bottom: 0.2rem solid #ff6033;
  }
}

/* line 2, sass/components/_link-button.scss */
.link-button {
  display: inline-block;
  padding: 1.5rem 2.2rem 1rem;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #f9f8fb;
  border-radius: .3rem;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

/* line 14, sass/components/_link-button.scss */
.link-button:hover {
  transform: translate(-0.2rem, -0.2rem);
  box-shadow: 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.5);
}

/* line 18, sass/components/_link-button.scss */
.link-button:active {
  transform: translate(0.12rem, 0.2rem);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

/* line 2, sass/components/_scroll-link.scss */
.scroll-link {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}

/* line 2, sass/sections/_about.scss */
.about {
  background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
}

/* line 12, sass/sections/_about.scss */
.about__container {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 56.25em) {
  /* line 12, sass/sections/_about.scss */
  .about__container {
    padding-top: 5rem;
    padding-bottom: 11rem;
    flex-direction: column;
  }
}

/* line 26, sass/sections/_about.scss */
.about__image {
  width: 45%;
  filter: drop-shadow(-1.3794rem 0.684rem 5rem rgba(0, 0, 0, 0.3));
  margin-right: 10rem;
}

@media (max-width: 56.25em) {
  /* line 26, sass/sections/_about.scss */
  .about__image {
    width: 65%;
    margin-top: 4rem;
    margin-right: 0;
    order: 2;
  }
}

@media (max-width: 31.25em) {
  /* line 26, sass/sections/_about.scss */
  .about__image {
    width: 85%;
  }
}

@media (max-width: 22.4375em) {
  /* line 26, sass/sections/_about.scss */
  .about__image {
    width: 88%;
  }
}

/* line 45, sass/sections/_about.scss */
.about__text-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f8fb;
}

@media (max-width: 56.25em) {
  /* line 45, sass/sections/_about.scss */
  .about__text-box {
    width: 100%;
  }
}

/* line 59, sass/sections/_about.scss */
.about__heading {
  text-align: center;
  transform: translateX(-3rem);
  margin-bottom: 1.6rem;
}

@media (max-width: 71.875em) {
  /* line 59, sass/sections/_about.scss */
  .about__heading {
    transform: translateX(-2rem);
  }
}

@media (max-width: 56.25em) {
  /* line 59, sass/sections/_about.scss */
  .about__heading {
    transform: translateX(0);
  }
}

/* line 72, sass/sections/_about.scss */
.about__description {
  margin-bottom: 1rem;
}

/* line 2, sass/sections/_blog.scss */
.blog {
  background-color: #b07cf7;
}

/* line 6, sass/sections/_blog.scss */
.blog .container {
  padding-top: 8rem;
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* line 16, sass/sections/_blog.scss */
.blog__heading {
  margin-bottom: 2.4rem;
}

/* line 21, sass/sections/_blog.scss */
.blog__description {
  width: 52%;
  margin-bottom: 3.5rem;
  text-align: center;
}

@media (max-width: 43.75em) {
  /* line 21, sass/sections/_blog.scss */
  .blog__description {
    width: 80%;
  }
}

@media (max-width: 31.25em) {
  /* line 21, sass/sections/_blog.scss */
  .blog__description {
    width: 100%;
  }
}

/* line 34, sass/sections/_blog.scss */
.blog__all-photos-box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 68.75em) {
  /* line 34, sass/sections/_blog.scss */
  .blog__all-photos-box {
    flex-direction: column;
  }
}

/* line 43, sass/sections/_blog.scss */
.blog__photo-box {
  position: relative;
  flex: 0 0 31%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 68.75em) {
  /* line 48, sass/sections/_blog.scss */
  .blog__photo-box:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/* line 55, sass/sections/_blog.scss */
.blog__photo {
  width: 100%;
}

/* line 60, sass/sections/_blog.scss */
.blog__details {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to top, black, transparent 51%);
}

/* line 79, sass/sections/_blog.scss */
.blog__date {
  margin-bottom: auto;
  padding: 0.4rem .7rem;
  text-align: center;
  line-height: 1;
  border-radius: 10%;
  background-color: rgba(38, 38, 38, 0.6);
}

/* line 87, sass/sections/_blog.scss */
.blog__date--day {
  font-size: 3.2rem;
  font-weight: 700;
}

@media (max-width: 22.4375em) {
  /* line 87, sass/sections/_blog.scss */
  .blog__date--day {
    font-size: 2.8rem;
  }
}

/* line 95, sass/sections/_blog.scss */
.blog__date--month {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 400;
}

@media (max-width: 22.4375em) {
  /* line 95, sass/sections/_blog.scss */
  .blog__date--month {
    font-size: 1.9rem;
  }
}

/* line 106, sass/sections/_blog.scss */
.blog__title {
  font-size: 2.6rem;
  letter-spacing: .1rem;
  line-height: 1.1;
  font-weight: 700;
  cursor: pointer;
  transition: .03s .03s;
}

@media (max-width: 22.4375em) {
  /* line 106, sass/sections/_blog.scss */
  .blog__title {
    font-size: 1.7rem;
  }
}

/* line 116, sass/sections/_blog.scss */
.blog__title:hover {
  transform: skewX(-3deg) scale(1.03);
}

/* line 122, sass/sections/_blog.scss */
.blog__author {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 22.4375em) {
  /* line 122, sass/sections/_blog.scss */
  .blog__author {
    font-size: 1.4rem;
  }
}

/* line 130, sass/sections/_blog.scss */
.blog__author--nickname {
  cursor: pointer;
  transition: .3s .03s;
}

/* line 133, sass/sections/_blog.scss */
.blog__author--nickname:hover {
  color: #f72b3b;
}

/* line 140, sass/sections/_blog.scss */
.blog__link-button {
  margin-top: 4rem;
  background-color: #f72b3b;
}

/* line 2, sass/sections/_contact.scss */
.contact {
  background: url(../img/007.jpg) center center no-repeat;
  background-size: cover;
}

/* line 7, sass/sections/_contact.scss */
.contact__container {
  display: block;
  padding-top: 7rem;
  padding-bottom: 11rem;
  overflow: auto;
}

@media (max-width: 31.25em) {
  /* line 7, sass/sections/_contact.scss */
  .contact__container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 25em) {
  /* line 7, sass/sections/_contact.scss */
  .contact__container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 23, sass/sections/_contact.scss */
.contact__heading {
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 31.25em) {
  /* line 23, sass/sections/_contact.scss */
  .contact__heading {
    font-size: 6rem;
  }
}

/* line 32, sass/sections/_contact.scss */
.contact__description {
  margin-bottom: 5rem;
  text-align: center;
}

@media (max-width: 31.25em) {
  /* line 32, sass/sections/_contact.scss */
  .contact__description {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* line 42, sass/sections/_contact.scss */
.contact__form {
  float: left;
  width: 40%;
}

@media (max-width: 62.5em) {
  /* line 42, sass/sections/_contact.scss */
  .contact__form {
    width: 45%;
  }
}

@media (max-width: 56.25em) {
  /* line 42, sass/sections/_contact.scss */
  .contact__form {
    width: 44rem;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 40.625em) {
  /* line 42, sass/sections/_contact.scss */
  .contact__form {
    width: 100%;
  }
}

/* line 57, sass/sections/_contact.scss */
.contact__form ::placeholder {
  color: #f9f8fb;
}

/* line 62, sass/sections/_contact.scss */
.contact__form > * {
  width: 100%;
  height: 5rem;
  display: block;
  margin-bottom: 2rem;
  margin-left: 0;
  color: #f9f8fb;
  background-color: rgba(0, 196, 196, 0.5);
  font-size: 1.6rem;
  border: none;
}

/* line 76, sass/sections/_contact.scss */
.contact__input {
  padding-left: 2rem;
}

/* line 78, sass/sections/_contact.scss */
.contact__input:focus {
  background-color: rgba(0, 196, 196, 0.8);
  letter-spacing: .1rem;
  font-weight: 500;
}

/* line 86, sass/sections/_contact.scss */
.contact__message {
  height: 14rem;
  padding: 1.4rem 2rem;
}

/* line 92, sass/sections/_contact.scss */
.contact__submit {
  margin-bottom: 0;
  padding-top: .2rem;
  background-color: rgba(0, 196, 196, 0.8);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: .3rem;
  transition: .05s 0.02s;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

/* line 102, sass/sections/_contact.scss */
.contact__submit:hover {
  background-color: rgba(4, 161, 161, 0.8);
}

/* line 105, sass/sections/_contact.scss */
.contact__submit:active {
  background-color: #04a1a1;
  transform: translateY(0.2rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

/* line 110, sass/sections/_contact.scss */
.contact__submit:hover > span {
  transform: scale(1.03);
}

/* line 113, sass/sections/_contact.scss */
.contact__submit > span {
  display: inline-block;
}

/* line 119, sass/sections/_contact.scss */
.contact__info-box {
  margin-right: 11rem;
  float: right;
}

@media (max-width: 75em) {
  /* line 119, sass/sections/_contact.scss */
  .contact__info-box {
    margin-right: 6rem;
  }
}

@media (max-width: 68.75em) {
  /* line 119, sass/sections/_contact.scss */
  .contact__info-box {
    margin-right: 3rem;
  }
}

@media (max-width: 62.5em) {
  /* line 119, sass/sections/_contact.scss */
  .contact__info-box {
    margin-right: 6rem;
    width: 30%;
  }
}

@media (max-width: 56.25em) {
  /* line 119, sass/sections/_contact.scss */
  .contact__info-box {
    float: none;
    margin: 5rem auto 0;
    width: 100%;
    text-align: center;
    color: #f9f8fb;
  }
}

@media (max-width: 25em) {
  /* line 119, sass/sections/_contact.scss */
  .contact__info-box {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* line 145, sass/sections/_contact.scss */
.contact__info-box > * {
  margin-bottom: 1.3rem;
}

/* line 147, sass/sections/_contact.scss */
.contact__info-box > *:last-child {
  margin-bottom: 0;
}

/* line 158, sass/sections/_contact.scss */
.contact__key {
  margin-bottom: .3rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 166, sass/sections/_contact.scss */
.contact__value {
  font-size: 1.8rem;
  font-weight: 300;
}

/* line 172, sass/sections/_contact.scss */
.contact__scroll-link {
  TODO: change color of the mouse icon to white;
}

/* line 2, sass/sections/footer.scss */
.footer {
  background-color: #262626;
  color: #f9f8fb;
}

/* line 7, sass/sections/footer.scss */
.footer__container {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  display: table;
  width: 100%;
}

@media (max-width: 37.5em) {
  /* line 7, sass/sections/footer.scss */
  .footer__container {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* line 20, sass/sections/footer.scss */
.footer__copyright {
  font-size: 1.6rem;
  font-weight: 300;
}

/* line 26, sass/sections/footer.scss */
.footer__brand {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
}

/* line 32, sass/sections/footer.scss */
.footer__author {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}

/* line 39, sass/sections/footer.scss */
.footer__item {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 37.5em) {
  /* line 39, sass/sections/footer.scss */
  .footer__item {
    display: block;
    text-align: center;
    margin-bottom: .5rem;
  }
  /* line 46, sass/sections/footer.scss */
  .footer__item:first-child {
    margin-top: .5rem;
  }
  /* line 49, sass/sections/footer.scss */
  .footer__item:last-child {
    margin-bottom: .5rem;
  }
}

/* line 2, sass/sections/_fresh-life.scss */
.fresh-life {
  position: relative;
  background-color: #f9f8fb;
}

/* line 7, sass/sections/_fresh-life.scss */
.fresh-life__container {
  min-height: 100vh;
  padding-top: 1.5rem;
  padding-bottom: 5.5rem;
  background: url(../img/092.jpg) right center no-repeat;
  background-size: cover;
  display: block;
}

@media (max-width: 56.25em) {
  /* line 7, sass/sections/_fresh-life.scss */
  .fresh-life__container {
    background: url("../img/092-cropped.jpg") top center no-repeat;
    background-size: cover;
  }
}

/* line 23, sass/sections/_fresh-life.scss */
.fresh-life__text-and-link-box {
  margin-top: 10rem;
  width: 34%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 56.25em) {
  /* line 23, sass/sections/_fresh-life.scss */
  .fresh-life__text-and-link-box {
    width: 100%;
    margin-top: 6rem;
  }
}

@media (max-width: 31.25em) {
  /* line 23, sass/sections/_fresh-life.scss */
  .fresh-life__text-and-link-box {
    align-items: center;
    text-align: center;
  }
}

/* line 42, sass/sections/_fresh-life.scss */
.fresh-life__heading {
  margin-bottom: 2rem;
}

@media (max-width: 56.25em) {
  /* line 42, sass/sections/_fresh-life.scss */
  .fresh-life__heading {
    margin-bottom: 8rem;
  }
}

@media (max-width: 31.25em) {
  /* line 42, sass/sections/_fresh-life.scss */
  .fresh-life__heading {
    margin-bottom: 5rem;
  }
}

/* line 53, sass/sections/_fresh-life.scss */
.fresh-life__description {
  margin-bottom: 3.8rem;
}

@media (max-width: 56.25em) {
  /* line 53, sass/sections/_fresh-life.scss */
  .fresh-life__description {
    margin-bottom: 9rem;
  }
}

@media (max-width: 31.25em) {
  /* line 53, sass/sections/_fresh-life.scss */
  .fresh-life__description {
    margin-bottom: 8rem;
  }
}

/* line 64, sass/sections/_fresh-life.scss */
.fresh-life__link {
  background-color: #ff6033;
  line-height: 2.7rem;
}

@media (max-width: 56.25em) {
  /* line 64, sass/sections/_fresh-life.scss */
  .fresh-life__link {
    align-self: flex-end;
  }
}

@media (max-width: 31.25em) {
  /* line 64, sass/sections/_fresh-life.scss */
  .fresh-life__link {
    align-self: auto;
  }
}

/* line 2, sass/sections/_gallery.scss */
.gallery {
  background-color: #ffe92f;
}

/* line 6, sass/sections/_gallery.scss */
.gallery__container {
  padding-top: 7rem;
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 15, sass/sections/_gallery.scss */
.gallery__intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* line 23, sass/sections/_gallery.scss */
.gallery__heading {
  margin-bottom: 2rem;
}

@media (max-width: 31.25em) {
  /* line 23, sass/sections/_gallery.scss */
  .gallery__heading {
    font-size: 6.5rem;
  }
}

/* line 31, sass/sections/_gallery.scss */
.gallery__description {
  width: 50%;
  margin-bottom: 4rem;
}

@media (max-width: 56.25em) {
  /* line 31, sass/sections/_gallery.scss */
  .gallery__description {
    width: 70%;
  }
}

@media (max-width: 37.5em) {
  /* line 31, sass/sections/_gallery.scss */
  .gallery__description {
    width: 85%;
  }
}

@media (max-width: 25em) {
  /* line 31, sass/sections/_gallery.scss */
  .gallery__description {
    width: 95%;
  }
}

/* line 48, sass/sections/_gallery.scss */
.gallery__all-photos-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 75em) {
  /* line 48, sass/sections/_gallery.scss */
  .gallery__all-photos-box {
    width: 66rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 50em) {
  /* line 48, sass/sections/_gallery.scss */
  .gallery__all-photos-box {
    width: 100%;
  }
}

/* line 64, sass/sections/_gallery.scss */
.gallery__photos-box {
  width: 32rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 75em) {
  /* line 64, sass/sections/_gallery.scss */
  .gallery__photos-box {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 31.25em) {
  /* line 64, sass/sections/_gallery.scss */
  .gallery__photos-box {
    margin: 0;
    flex-wrap: wrap;
  }
}

/* line 81, sass/sections/_gallery.scss */
.gallery__photo-wrapper {
  box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* line 84, sass/sections/_gallery.scss */
.gallery__photo-wrapper--1 {
  width: 66rem;
  margin-bottom: 3rem;
}

@media (max-width: 75em) {
  /* line 88, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--2 {
    flex: 0 0 47.5%;
  }
}

@media (max-width: 75em) {
  /* line 94, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--3 {
    align-self: flex-start;
    flex: 0 0 47.5%;
  }
}

/* line 100, sass/sections/_gallery.scss */
.gallery__photo-wrapper--4 {
  width: 48.5%;
}

@media (max-width: 75em) {
  /* line 100, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--4 {
    margin-right: auto;
    flex: 0 0 47.5%;
  }
}

/* line 107, sass/sections/_gallery.scss */
.gallery__photo-wrapper--5 {
  width: 48.5%;
}

@media (max-width: 75em) {
  /* line 107, sass/sections/_gallery.scss */
  .gallery__photo-wrapper--5 {
    flex: 0 0 47.5%;
  }
}

@media (max-width: 31.25em) {
  /* line 81, sass/sections/_gallery.scss */
  .gallery__photo-wrapper {
    flex: 0 0 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}

/* line 124, sass/sections/_gallery.scss */
.gallery__photo {
  width: 100%;
  display: block;
  height: 100%;
}

/* line 131, sass/sections/_gallery.scss */
.gallery__link-button {
  background-color: #5585a2;
  margin-top: 4rem;
}

/* line 2, sass/sections/_services.scss */
.services {
  background-color: #70bfff;
}

/* line 6, sass/sections/_services.scss */
.services__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 62.5em) {
  /* line 6, sass/sections/_services.scss */
  .services__container {
    flex-direction: column;
  }
}

@media (max-width: 23.75em) {
  /* line 6, sass/sections/_services.scss */
  .services__container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 20, sass/sections/_services.scss */
.services__options {
  margin-right: 10%;
  flex: 0 0 44%;
}

@media (max-width: 62.5em) {
  /* line 20, sass/sections/_services.scss */
  .services__options {
    order: 1;
    margin: 0;
  }
}

/* line 30, sass/sections/_services.scss */
.services__box {
  height: 9rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all .2s .02s ease-in;
}

/* line 41, sass/sections/_services.scss */
.services__box:hover .services__icon {
  fill: #fe541d;
}

/* line 46, sass/sections/_services.scss */
.services__option {
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  flex: 1;
}

@media (max-width: 22.4375em) {
  /* line 46, sass/sections/_services.scss */
  .services__option {
    padding: 0 1rem;
  }
}

/* line 58, sass/sections/_services.scss */
.services__icon-wrapper {
  align-self: stretch;
  border-left: 2px solid gray;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 68, sass/sections/_services.scss */
.services__icon {
  width: 4.7rem;
  height: 4.4rem;
  fill: #262626;
}

/* line 75, sass/sections/_services.scss */
.services__image-box {
  position: relative;
}

@media (max-width: 62.5em) {
  /* line 75, sass/sections/_services.scss */
  .services__image-box {
    margin: 18rem 0;
  }
}

@media (max-width: 31.25em) {
  /* line 75, sass/sections/_services.scss */
  .services__image-box {
    margin: 12rem 0 14rem;
  }
}

@media (max-width: 22.5em) {
  /* line 75, sass/sections/_services.scss */
  .services__image-box {
    margin: 6rem 0 9rem;
  }
}

/* line 89, sass/sections/_services.scss */
.services__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: block;
  width: 39rem;
}

@media (max-width: 62.5em) {
  /* line 89, sass/sections/_services.scss */
  .services__image {
    width: 35rem;
  }
}

@media (max-width: 31.25em) {
  /* line 89, sass/sections/_services.scss */
  .services__image {
    width: 32rem;
  }
}

@media (max-width: 22.5em) {
  /* line 89, sass/sections/_services.scss */
  .services__image {
    width: 26rem;
  }
}

/* line 108, sass/sections/_services.scss */
.services__heading {
  font-size: 11rem;
  position: relative;
  z-index: 1;
  transform: translateY(-50%);
  color: #f9f8fb;
  text-align: center;
}

@media (max-width: 37.5em) {
  /* line 108, sass/sections/_services.scss */
  .services__heading {
    font-size: 9rem;
  }
}

/* line 5, sass/sections/_subscribe.scss */
.subscribe__container {
  padding-top: 8rem;
  padding-bottom: 12rem;
  background: url(../img/046.png) right center no-repeat;
  background-size: contain;
}

@media (max-width: 50em) {
  /* line 5, sass/sections/_subscribe.scss */
  .subscribe__container {
    padding-top: 12rem;
    background: url(../img/046-cropped.jpg) right center no-repeat;
    background-size: contain;
    color: white;
  }
}

@media (max-width: 34.375em) {
  /* line 5, sass/sections/_subscribe.scss */
  .subscribe__container {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
  }
}

@media (max-width: 25em) {
  /* line 5, sass/sections/_subscribe.scss */
  .subscribe__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* line 28, sass/sections/_subscribe.scss */
.subscribe__form {
  width: 60%;
}

/* line 30, sass/sections/_subscribe.scss */
.subscribe__form ::placeholder {
  color: #81a31c;
}

@media (max-width: 56.25em) {
  /* line 28, sass/sections/_subscribe.scss */
  .subscribe__form {
    width: 40rem;
  }
}

@media (max-width: 50em) {
  /* line 28, sass/sections/_subscribe.scss */
  .subscribe__form {
    background-color: rgba(150, 185, 44, 0.64);
    margin: 0 auto;
    border-top-left-radius: 11%;
    border-top-right-radius: 11%;
  }
}

/* line 45, sass/sections/_subscribe.scss */
.subscribe__heading {
  margin-bottom: 3rem;
}

@media (max-width: 50em) {
  /* line 45, sass/sections/_subscribe.scss */
  .subscribe__heading {
    margin-bottom: 2rem;
    padding: 2rem 2rem 0;
    text-align: center;
    font-size: 6rem;
  }
}

@media (max-width: 25em) {
  /* line 45, sass/sections/_subscribe.scss */
  .subscribe__heading {
    font-size: 5.2rem;
  }
}

/* line 59, sass/sections/_subscribe.scss */
.subscribe__description {
  margin-bottom: 3rem;
}

@media (max-width: 50em) {
  /* line 59, sass/sections/_subscribe.scss */
  .subscribe__description {
    padding: 0 2rem;
  }
}

/* line 67, sass/sections/_subscribe.scss */
.subscribe__input {
  padding-left: 2rem;
  width: 54%;
  height: 5rem;
  font-size: 1.7rem;
}

@media (max-width: 56.25em) {
  /* line 67, sass/sections/_subscribe.scss */
  .subscribe__input {
    width: 100%;
  }
}

/* line 78, sass/sections/_subscribe.scss */
.subscribe__button {
  margin: 0;
  padding: 1.8rem 2rem 1.4rem;
  transform: translate(0.4rem, 0.15rem);
  font-size: 1.9rem;
  text-transform: uppercase;
  color: white;
  background-color: #96b92c;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: .1s .02s;
}

/* line 90, sass/sections/_subscribe.scss */
.subscribe__button:hover {
  background-color: #6f9400;
}

/* line 93, sass/sections/_subscribe.scss */
.subscribe__button:hover * {
  transform: scale(1.03);
}

/* line 97, sass/sections/_subscribe.scss */
.subscribe__button:active {
  background-color: #40485b;
}

@media (max-width: 56.25em) {
  /* line 78, sass/sections/_subscribe.scss */
  .subscribe__button {
    width: 100%;
    transform: translate(0);
  }
}

/* line 105, sass/sections/_subscribe.scss */
.subscribe__button > span {
  display: inline-block;
}
