/* line 2, sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* line 8, sass/foundation/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 14, sass/foundation/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* line 19, sass/foundation/_base.scss */
body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  color: #262626;
}

/* line 1, sass/foundation/_container.scss */
.container {
  max-width: 117rem;
  margin: 0 auto;
}

/* line 2, sass/components/_burger.scss */
.burger {
  display: none;
  transform: translateY(-15%);
  position: relative;
  padding: 1rem;
  box-sizing: content-box;
  cursor: pointer;
  transition: all .2s .05s;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 56.25em) {
  /* line 2, sass/components/_burger.scss */
  .burger {
    display: flex;
  }
}

/* line 21, sass/components/_burger.scss */
.burger:hover:not(.js-menu-on) > div:nth-child(1) {
  transform: translateY(2px);
}

/* line 24, sass/components/_burger.scss */
.burger:hover:not(.js-menu-on) > div:nth-child(3) {
  transform: translateY(-2px);
}

/* line 30, sass/components/_burger.scss */
.burger:hover.js-menu-on {
  transform: scale(1.2);
}

/* line 36, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(1) {
  transform: translateY(9.6px) rotate(135deg);
}

/* line 39, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(2) {
  transform: scale(0);
}

/* line 42, sass/components/_burger.scss */
.burger.js-menu-on > div:nth-child(3) {
  transform: translateY(-9.6px) rotate(-135deg);
}

/* line 48, sass/components/_burger.scss */
.burger > div {
  color: #262626;
  line-height: .3;
  font-size: 3.7rem;
  font-weight: 400;
}

/* line 62, sass/components/_burger.scss */
.burger > div:nth-child(1),
.burger > div:nth-child(3) {
  transition: all .1s .03s ease-in-out;
}

/* line 67, sass/components/_burger.scss */
.burger > div:nth-child(2) {
  transition: all .04s .05s;
}

/* line 2, sass/components/_header.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 12, sass/components/_header.scss */
.header__brand {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  font-weight: 400;
}

@media (max-width: 81.25em) {
  /* line 12, sass/components/_header.scss */
  .header__brand {
    font-size: 4.4rem;
  }
}

/* line 23, sass/components/_header.scss */
.header__navbar {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 56.25em) {
  /* line 23, sass/components/_header.scss */
  .header__navbar {
    display: none;
  }
}

/* line 34, sass/components/_header.scss */
.header__link {
  padding: 0.4rem 0.3rem;
  margin: 0 1.6rem;
  text-decoration: none;
  color: #262626;
  transition: all 0.2s 0.03s;
  border-top: 2px solid transparent;
}

/* line 41, sass/components/_header.scss */
.header__link:hover {
  border-top: 2px solid #ff6033;
}

/* line 44, sass/components/_header.scss */
.header__link:last-child {
  margin-right: 0;
}

/* line 2, sass/sections/_fresh-life.scss */
.fresh-life {
  background-color: #f9f8fb;
}

/* line 9, sass/sections/_fresh-life.scss */
.fresh-life__container {
  position: relative;
  max-width: 117rem;
  margin: 0 auto;
  border-top: 1.5rem solid transparent;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
}

/* line 19, sass/sections/_fresh-life.scss */
.fresh-life__image {
  display: block;
  width: 100%;
}

/* line 25, sass/sections/_fresh-life.scss */
.fresh-life__text-and-link-box {
  width: 34%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 56.25em) {
  /* line 25, sass/sections/_fresh-life.scss */
  .fresh-life__text-and-link-box {
    width: 41%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

/* line 40, sass/sections/_fresh-life.scss */
.fresh-life__heading {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

@media (max-width: 81.25em) {
  /* line 40, sass/sections/_fresh-life.scss */
  .fresh-life__heading {
    font-size: 4.6rem;
  }
}

@media (max-width: 56.25em) {
  /* line 40, sass/sections/_fresh-life.scss */
  .fresh-life__heading {
    font-size: 5.7rem;
  }
}

/* line 53, sass/sections/_fresh-life.scss */
.fresh-life__description {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

/* line 60, sass/sections/_fresh-life.scss */
.fresh-life__link {
  display: inline-block;
  padding: 2rem 2.5rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff6033;
  color: white;
  line-height: 2.7rem;
  box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* line 74, sass/sections/_fresh-life.scss */
.fresh-life__icon {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
