/// <div> HEADER includes NAVIGATION BAR
.header {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //. <h1> BRAND NAME
  &__brand {
    font-family: $font-family-brand;
    font-size: 5rem;
    font-weight: 400;
    color: $blackish-color;

    @media (max-width: em(1300)) {
      font-size: 4.4rem;
    }
  }

  //. INVISIBLE CHECKBOX FOR NAVIGATION MENU + SELECT SIBLING BURGER
  &__checkbox {
    display: none;
  }
  // DISPLAY A SMALL MENU WHEN CHECKBOX CHECKED
  &__checkbox:checked ~ &__navbar {
    visibility: visible;
    opacity: 1;
  }

  // CROSS THE BARS OF BURGER WHEN CHECKBOX CHECKED
  &__checkbox:checked ~ .burger {
    @include cross-burger-bars;
    &:hover {
      //TODO: comment out on touchscreens
      // @include thicken-crossed-bars;
    }
  }

  //. <nav> NAVIGATION BAR
  &__navbar {
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    transition: 0.2s;

    // will show up when the checkbox above is checked
    @media (max-width: $bp-burger) {
      // hide
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      //
      position: absolute;
      z-index: 666;
      top: 6rem;
      right: 0;
      background-color: $creamy-color;
      text-align: center;
      flex-direction: column;
    }
  }

  //, <a> LINKS
  &__link {
    padding: 1rem 0.3rem 0.6rem;
    margin: 0 1.6rem;
    position: relative;
    text-decoration: none;
    color: $blackish-color;
    @media (max-width: $bp-burger) {
      margin: 0;
      padding: 1.4rem 2rem 1rem;
      border-bottom: 0.1rem solid rgb(182, 182, 182);
    }
    &:hover {
      // HOVER WHEN IN NAVBAR AND MENU MODE
      &::before {
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.3s $hover-delay;
      }
      // HOVER WHEN IN MENU MODE
      @media (max-width: $bp-burger) {
        // remove border from view just in case the ::after/::before border does not overlap it
        border-bottom: 0.1rem solid transparent;
      }
    }
    &:last-child {
      margin-right: 0;
    }

    &::before {
      padding: inherit;
      position: absolute;
      top: -0.2rem;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      content: "\00a0";
      border-top: 0.2rem solid #ff6033;
      transition: transform 0.18s;
      transform-origin: right;

      @media (max-width: $bp-burger) {
        top: -0.1rem;
        border-top: none;
        border-bottom: 0.2rem solid #ff6033;
      }
    }
  }
}
