// <a> LINK BUTTON
.link-button {
  display: inline-block;
  padding: 1.5rem 2.2rem 1rem;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $creamy-color;
  border-radius: .3rem;
  outline: none; // for <button>
  cursor: pointer; // for <button>
  border: none; // for <button>
  box-shadow: .1rem .2rem .2rem rgba(0,0,0,0.5);
  &:hover {
    transform: translate(-.2rem, -.2rem);
    box-shadow: .2rem .4rem .2rem rgba(0,0,0,0.5);
  }
  &:active {
    transform: translate(.12rem, .2rem);
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.5);
  }
}