// <a> LINK BUTTON
.link-button {
  padding: 1.2rem 3.6rem;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $creamy-color;
  background-color: #5585a2;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,0.5);
}