/// <a> LINK CONTAINING ICON AT THE BOTTOM OF THE SECTION
.scroll-link {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  text-align: center;
  
  //. <img> IMAGE OF SCROLL LINK
  &__icon {

  }
}
