/// <section> ABOUT
.about {
  background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);

  //. <div> CONTAINER SPECIFIC
  &__container {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
    justify-content: space-between;
    align-items: center;
    @media(max-width: em(900)){
      padding-top: 5rem;
      padding-bottom: 5rem;
      flex-direction: column;
    }
    @media(max-width: em(700)){
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  //, <img> IMAGE
  &__image {
    width: 45%;
    height: 45%;
    filter: drop-shadow(-1.3794rem .684rem 5rem rgba(black,0.3));
    margin-right: 10rem;
    @media(max-width: em(900)) {
      width: 65%;
      height: 65%;
      margin-top: 4rem;
      margin-right: 0;
      order: 2;
    }
    @media(max-width: em(500)) {
      width: 85%;
      height: 85%;
    }
    @media(max-width: em(359)) {
      width: 88%;
      height: 88%;
    }
  }

  //, <div> TEXT BOX
  &__text-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $creamy-color;
    @media(max-width: em(900)) {
      width: 100%;
    }
    @media(max-width: em(500)) {

    }
  }

  // <h2>
  &__heading {
    margin-bottom: 1rem;
    font-size: 8rem;
    font-weight: 700;
    @media(max-width: em(1300)) {
      font-size: 6rem;
    }
    @media(max-width: em(500)) {
      font-size: 5rem;
      text-align: center;
    }
  }

  // <p>
  &__description {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 300;
  }
}