/// <section> FRESH LIFE
.fresh-life {
	background-color: aqua;
	// background-color: $creamy-color;
	
	@media(max-width: em(900)) {	}

	//. <div> CONTAINER
	&__container {
		background: url(/img/092.jpg) right center no-repeat /cover, yellow;
		max-width: $container-width;
		// height: calc(#{$container-width} / 3 * 2 + 7rem);
		height: 85rem;
		margin: 0 auto;
		padding: 1.5rem 8rem 5.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		@media(max-width: em(1000)) {
			background: url("/img/092-cropped.jpg") top center no-repeat /cover;
		}
		@media(max-width: em(700)) {
			// padding-right: 0;
		}
	}

	//, <div> BOX FOR THE HEADING, DESCRIPTION, LINK
	&__text-and-link-box {
		// margin-bottom: 19.5rem;
		width: 34%;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media(max-width: em(1000)) {
			width: 100%;
			align-self: center;
			transform: translateY(-16rem);
		}
	}

	// <h2> HEADING
	&__heading {
		font-size: 6rem;
		font-weight: 800;
		margin-bottom: 3rem;
		@media(max-width: em(1300)) {
			font-size: 4.6rem;
		}
		@media(max-width: em(900)) {
			font-size: 5.7rem;
		}
	}

	// <p> DESCRIPTION
	&__description {
		font-size: 1.7rem;
		font-weight: 300;
		margin-bottom: 4rem;
		@media(max-width: em(1000)) {

		}
		@media(max-width: em(700)) {

		}
	}

	// <a> LINK
	&__link {
		display: inline-block;
		padding: 1.5rem 2.2rem;
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		background-color: #ff6033;
		color: white;
		line-height: 2.7rem;
		box-shadow: 0px .2rem .5rem rgba(0,0,0,0.5);
		@media(max-width: em(1000)) {
			align-self: flex-end;
		}
		@media(max-width: em(700)) {
			transform: translateY(30rem);
		}
	}

	//, <img> ICON AT THE BOTTOM OF THE SECTION
	&__icon {
		bottom: 3rem;
	}
}
