/// <section> FRESH LIFE
.fresh-life {
	background-color: $creamy-color;
	
	//. <div> CONTAINER SPECIFIC (general container in base.scss)
	&__container {
		position: relative;
		background: url(/img/092.jpg) right center no-repeat;
		background-size: cover;
		height: 100vh;
		padding-top: 1.5rem;
		padding-bottom: 5.5rem;
		flex-wrap: wrap;
		align-items: flex-start;
		@media(max-width: em(900)) {
			background: url("/img/092-cropped.jpg") top center no-repeat;
			background-size: cover;
		}
	}

	//, <div> BOX FOR THE HEADING, DESCRIPTION, LINK
	&__text-and-link-box {
		width: 34%;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media(max-width: em(900)) {
			width: 100%;
			align-self: center;
			transform: translateY(-6rem);
		}
		@media(max-width: em(500)) {
			align-items: center;
			text-align: center;
		}
	}

	// <h2> HEADING
	&__heading {
		font-size: 6rem;
		font-weight: 800;
		margin-bottom: 2rem;
		@media(max-width: em(1300)) {
			font-size: 4.6rem;
		}
		@media(max-width: em(500)) {
			margin-bottom: 3rem;
		}
	}

	// <p> DESCRIPTION
	&__description {
		margin-bottom: 3.7rem;
		@media(max-width: em(500)) {
			margin-bottom: 4.7rem;
		}
	}

	// <a> LINK
	&__link {
		display: inline-block;
		padding: 1.5rem 2.2rem;
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		background-color: #ff6033;
		color: white;
		line-height: 2.7rem;
		box-shadow: 0px .2rem .5rem rgba(0,0,0,0.5);
		@media(max-width: em(900)) {
			align-self: flex-end;
		}
		@media(max-width: em(500)) {
			align-self: auto;
		}
	}

}
